<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PayPal Node Application</title>
  </head>
  <body>
    <h1> Buy TDE Bot </h1>
    <h2>Buy for $25</h2>
    <form action ="/pay?id=2e5f87" method="post">
      <input type="submit" value="buy">
      </form>
  </body>
</html>
